@model IEnumerable<PruebaWTW.Web.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Personas</h1>

<p>
    <a asp-action="Crear">Crear Persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>

        </tr>
}
    </tbody>
</table>
